.subscribe{
  background: url('../img/keyboard-bg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  &__heading{
    margin-top: 2.4rem;
    i{font-size: 2rem; color: #fff}
  }
  &__box{
    padding: 4rem 0;
  }
  &__input{
    background: transparent;

    border: 0.5px solid #fff;
    color: #fff;
    width: 40%;
    // width: 25rem;
    height: 4.8rem;
    padding: 2rem;
    box-sizing: border-box;
    transition: border-color 0.4s;
    &:focus, &:active{
      border-color: $aquamarine;
      outline: none;
      transition: border-color 0.4s;
    }
  }
  &__btn{
    height: 4.8rem;
    width: 7rem;
    background-color: $aquamarine;
    background-color: $aquamarine-light;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    border-radius: 0;
    box-sizing: border-box;
    transition: background-color 0.4s;
    &:hover{
      background-color: $aquamarine;
      transition: background-color 0.4s;
      color: #fff;
    }
  }
}



@include respond-to(large){
  .subscribe{
    background-attachment: fixed;
  }
};
