.top{
  background: url('../img/intro_bg.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-nav{
    display: inline-block;
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    &:hover{cursor: pointer;}
    .icon-bar{
      display: block;
      background-color: #000;
      width: 40px;
      height: 2px;

    }
    .icon-bar+.icon-bar{
      margin-top: 8px;
    }
  }
  .jumbotron{
    background: transparent;
    text-align: center;
    padding: 0;


    h1{
      font-family: 'GothamRoundedBook';
      text-transform: uppercase;
      font-size: 2.4rem;
      letter-spacing: 1rem;
      color: $dark;
      display: inline-block;
      span{
        color: $gray;
      }
    }
    p{
      font-family: 'GothamRoundedBook';
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    .btn-intro{
      margin-top: 5rem;
      @include background-rgba($aquamarine, 0.75);
      transition: all 0.4s;
      border: none;
      font-family: 'GothamRoundedBook';
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      width: 14rem;
      height: 4.2rem;
      line-height: 3.2rem;
      &:hover{
        background-color: $aquamarine;
        transition: all 0.4s;
      }
    }
  }
}

.intro{
  background-color: $bg-intro-text;
  p{
    line-height: 2rem;
  }
}

@include respond-to(mobile){
  .top{
    .jumbotron{
      h1{
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
        line-height: 3.5rem;
        span{display: inline-block;}
      }
      .btn-intro{
        margin-top: 2.5rem;
      }
    }
  }
};
